.createpost {
  margin-top: 15px;

  @include tablette {
    margin-top: 10px;
  }

  &-corps {
    text-align: center;
    color: $white;
    font-weight: 700;
    font-family: $secondary-font;
    line-height: 1;
    background-color: $primary-color !important;

    @include tablette {
      background: $font-primary-color !important;
      color: $font-secondary-color !important;
    }

    h1 {
      margin: 0px;
    }

    svg {
      font-size: 30px;
      @include mobile-only {
        color: $primary-color;
      }
    }
  }
}

.MuiDialog-paperFullScreen {
  @include tablette {
    background-color: $mobile-background !important;
  }
}
