.simplenav {
  font-family: $main-font;
  text-align: center;
  background: $white;
  box-shadow: $box-shadown-dimension;
  border-bottom: $border-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  padding: 5px 0px;
  min-width: 100%;
  @include tablette {
    background: $font-primary-color;
    color: $font-secondary-color;
  }
  h1 {
    margin: 0px;
  }

  i {
    color: $primary-color;
  }
}

.home {
  &-search {
    max-width: 320px !important;

    @include tablette {
      background-color: $snackbar-background !important;
      color: $white !important;

      button {
        color: $font-secondary-color !important;
      }

      input {
        color: $white !important;
      }

      @include mobile-only {
        max-width: 230px !important;
      }
    }
  }
}
