.bottomNavigation {
  z-index: 3;
  @include tablette {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: $font-primary-color !important;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
    height: 50px;
    box-shadow: $box-shadown-dimension;

    div {
      padding: 0px;
    }

    .MuiListItemIcon-root {
      color: $primary-color !important;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        font-size: 25px;
      }
    }
    &-text {
      display: none;
    }

    nav {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      width: 45%;
      .MuiButtonBase-root {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .createpost-button {
      transform: translateY(-35px);
      background-color: $full-opacity-primary-color;
      opacity: 1;
      border: 1px solid $primary-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      padding: 0px;
      z-index: 3;
      margin: 0px 15px;
      &:hover {
        background-color: darken(
          $color: $full-opacity-primary-color,
          $amount: 5%
        );
      }
      svg {
        color: $font-primary-color !important;
      }
    }
  }
}
