@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

$background-form: #4d4d4d ; 
$white: #fff ; 
$black: #000 ; 
$border-color: #d9d9d9 ; 
$color-error: #ff1a1a ; 
$background-body: #f1f1f1 ; 

$snackbar-background: #404040 ;


//
$primary-color: rgba(132,106,221,0.8) ;
$secondary-color: #6ADDBD ;  
$font-primary-color: #333333 ; 
$font-secondary-color: #666666 ; 
$mobile-background: #262626 ; 
$markdown-font: 'Roboto', sans-serif;
$main-font: 'Roboto', sans-serif;
$secondary-font: "Montserrat-Bold" , sans-serif ; 
//
$color-spinner-animation: #FF2CBD ;
$second-color-spinner-animation: #FECDFF ; 

$blue: #0ff ;


$box-shadown-dimension:0px 0px 7px 1px rgba(0,0,0,0.75);