@import "../../generalComponentStyle/utils/color.scss" ; 

.read 
{
    margin: 0 auto;
    width: 700px;
    background: $white;
    padding: 25px;
    border: 1px solid $white;
    border-radius: 15px;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    overflow: hidden;

    &-background 
    {
        background: $border-color;
        padding-top: 20px;
    }

    &-nav 
    {
        position: fixed;
        top: 25px;
        right: 10px;
        background: $white;
    }

    &-description 
    {
        text-align: center;

        img 
        {
            max-width: 100%;
        }
    }

    &-content 
    {
        img 
        {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    &-footer 
    {
        display: flex;
        flex-direction: row-reverse;
    }
}

.comment 
{
    width: 100%;
    background-color: $white;
    margin: 25px 0px;

    &-input 
    {
        width: 80% !important;
    }

    &-button 
    {
        margin-left: 20px;
    }
}