.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 10px;
  justify-content: space-between;

  @include mobile-only {
    margin: 25px 0px;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-flex {
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    flex-direction: row;
  }
}

.block {
  &-md {
    max-width: 30%;
  }

  &-sm {
    max-width: 50%;
    padding: 0px 10px;
    word-break: break-all;

    @include tablette {
      max-width: 100%;
      padding: 0px;
      margin: 0 auto;
    }
  }

  &-lg {
    min-width: 80%;
    padding: 0px 10px;
    word-break: break-all;
    @include tablette {
      min-width: 100%;
      padding: 0px;
      margin: 0px auto;
    }
  }
}

.bg-red {
  background: $toggle-error;
}
