@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$main-font: "Roboto", sans-serif;
$secondary-font: "Montserrat-Bold", sans-serif;
$third-font: "Inter", sans-serif;
