body {
  @include tablette {
    background-color: $mobile-background;
  }
  padding-bottom: 50px;
  padding-right: 0px !important;
  overflow-x: hidden;
  background-color: $chat-bg;
}

.center {
  margin: 0 auto !important;
}

.text {
  &-center {
    text-align: center;
  }
}
.ephemeral {
  &-tablette {
    @include tablette {
      display: none;
    }
  }
  &-mobile {
    @include mobile-only {
      display: none;
    }
  }
}

.margin {
  &-none {
    margin: 0px;
  }

  &-top {
    &__medium {
      margin: 10px 0px !important;
    }
  }
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
}
