$background-form: #4d4d4d;
$white: #fff;
$black: #000;
$border-color: #d9d9d9;
$color-error: #c62828;
$background-body: #f1f1f1;

$snackbar-background: #404040;

//
$primary-color: rgba(132, 106, 221, 0.8);
$secondary-color: #6addbd;
$font-primary-color: #333333;
$font-secondary-color: #666666;
$mobile-background: #262626;
//
$color-spinner-animation: #ff2cbd;
$second-color-spinner-animation: #fecdff;

$blue: #0ff;

$toggle-error: #f44336;

$box-shadown-dimension: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
