@import "../../generalComponentStyle/utils/color.scss" ;

.navbar 
{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    background: $white;
    box-shadow: $box-shadown-dimension;
    height: 58px;
    font-family: $main-font;

    a 
    {
        text-decoration: none;
        color: $font-primary-color;

        &:hover
        {
            color: $primary-color;
        }
    }

    section 
    {
        display: flex;
    }

    h1 
    {
        margin: 0px;
        margin-top: 15px;

        i 
        {
            color: $primary-color;
        }
    }

    button 
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-transform: capitalize;
        transition: all ease-in 0.2s;

        &:hover 
        {
            color: $primary-color;
        }
    }
}

.createpost 
{
    margin-top: 15px ;

    &-corps 
    {
        background: $primary-color !important;
        text-align: center;
        color: $white;
        font-weight: 700;
        font-family: $secondary-font;
        line-height: 1;

        h1 
        {
            margin: 0px;
        }

        svg 
        {
            font-size: 30px;
        }
    }

    &-form 
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        text-align: center;

        .input 
        {
            margin: 25px 0px;
        }

        button 
        {
            margin-right: 20px;
        }
        
    }
}