@import "../../generalComponentStyle/utils/color.scss" ; 

.mainpage
{
    background-color: $border-color;
    &-nav 
    {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        height: 50px;
        background-color: $black !important;
        box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

        &-buttonToggle
        {
            color: $white !important;
            
            svg
            {
                font-size: 30px !important;
            }
        }

        svg 
        {
            font-size: 25px;
        }

        &-item 
        {
            
            button 
            {
                font-size: 12px;
                font-weight: bold;
                height: 50px;
                border-color: $white;
                color: $black ;
                padding: 0px 5px;
                transition: all ease 0.3s;
                width: 100%;

                &:hover 
                {
                    background-color: $border-color;
                    color: $black;
                    border-color: $white;
                }

                svg 
                {
                    font-size: 30px;
                    margin-right: 20px;
                }
            }
        }

        &-logo 
        {
            display: flex;
            padding-top: 10px;
            color: $white ;

            i 
            {
                font-size: 25px;
            }

            header
            {
                margin: 0 10px;
                font-weight: bold;
                font-size: 23px;        
            }
        }

        &-search 
        {
            margin: 10px !important;
            label 
            {
                color: $black;
            }

            div 
            {
                color: $black;
            }

            fieldset
            {
                border-color: $black;
            }

            p 
            {
                color: $black;
            }

            input 
            {
                padding: 10px 14px;
                font-size: 15px;
                width: 200px;
                color: $black;
                border-color: $black;
            }
        }

        &-createpost  
        {
            background-color: $black !important;

            &-form 
            {
                display: flex;
                flex-direction: column;
                width: 75%;
                margin: 0 auto;
                padding: 10px;
                text-align: center;

                .MuiFormControl-root
                {
                    width: 75%;
                    margin: 20px auto;
                }

                textarea 
                {
                    
                    height: 250px !important;
                }

                #picture 
                {
                    margin: 20px auto;
                    text-align: center;
                    margin-top: 0px;
                }

                &-submit 
                {
                    display: flex;
                    margin: 0 auto;
                    button  
                    {
                        width: 200px;
                        border-color: $background-form;
                        margin-right: 25px;
                        transition: all ease 0.3s;
    
                        &:hover 
                        {
                            transform: translateY(-10px);
                            background-color: $background-form;
                            border-color: $white;
                            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
                        }
                    }
                }
                
            }

            &-logo 
            {
                display: flex;

                h1 
                {
                    margin: 5px;
                }

                svg 
                {
                    font-size: 50px;
                }
            }
        }
    }
}

.post 
{
    margin-top: 25px;
    margin-right: 25px;

    .MuiPaper-root 
    {
        margin: 0 auto;
        width: 75% !important;
    }
    
    
}