@import "../../generalComponentStyle/utils/color.scss" ;
@import "../../generalComponentStyle/utils/mixin.scss" ;

.navbar 
{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    background: $white;
    box-shadow: $box-shadown-dimension;
    height: 58px;
    font-family: $main-font;

    @include mobile-only
    {
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: $mobile-background;
        padding: 0px;
        width: 100%;
        z-index: 2;
    }

    p 
    {
        margin: 0px;
        @include tablet-medium {
            display: none;
        }
    }

    &-logo 
    {
        display: none !important;
        @include tablet-medium {
            display: block !important;
        }
    }

    a 
    {
        text-decoration: none;
        color: $font-primary-color;

        &:hover
        {
            color: $primary-color;
        }
    }

    section 
    {
        display: flex;
    }

    h1 
    {
        margin: 0px;
        margin-top: 15px;

        i 
        {
            color: $primary-color;
        }
        @include tablet-medium {
            display: none;
        }
    }

    button 
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-transform: capitalize;
        transition: all ease-in 0.2s;

        &:hover 
        {
            color: $primary-color;
        }
    }
}

.createpost 
{
    margin-top: 15px ;

    @include tablet-medium {
        margin-top: 10px;
    }

    &-corps 
    {
        background: $primary-color !important;
        text-align: center;
        color: $white;
        font-weight: 700;
        font-family: $secondary-font;
        line-height: 1;

        @include mobile-only 
        {
            background: $mobile-background !important;
            color: $font-secondary-color !important;
        }

        h1 
        {
            margin: 0px;
        }

        svg 
        {
            font-size: 30px;
        }
    }

    &-form 
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        text-align: center;

        @include mobile-only 
        {
            margin: 0px;
            width: 100%;

            textarea 
            {
                height: 50px;
            }
        }

        .input 
        {
            margin: 25px 0px;
        }

        button 
        {
            margin-right: 20px;
        }
        
    }
}

.mobile-logo 
{
    display: none;
    @include tablet-medium {
        display: block !important;
        color: $primary-color;
        font-size: 30px;
        margin-top: 15px;
    }

    @include mobile-only
    {
        display: none !important;
    }
}

.simplenav
{
    display: none ;

    @include mobile-only 
    {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        font-family: $main-font;
        line-height: 1;
        background: $font-primary-color;
        color: $font-secondary-color;
        padding: 5px 0px;
        
        h1 
        {
            margin: 0px;
        }

        i 
        {
            color: $primary-color;
        }
    }
}