.container {
  display: flex;
  justify-content: center;

  .spinner {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: $color-spinner-animation;
    box-shadow: 0 0 10px 0 $second-color-spinner-animation;

    &-one {
      margin-right: -18px;
      transform-origin: center left;
      animation: spin 3s linear infinite;
    }

    &-two {
      transform-origin: center right;
      animation: spin2 3s linear infinite;
      animation-delay: 0.2s;
    }

    &-three {
      transform-origin: center right;
      animation: spin3 3s linear infinite;
      animation-delay: 0.3s;
    }

    &-four {
      transform-origin: center right;
      animation: spin4 3s linear infinite;
      animation-delay: 0.4s;
    }
  }
}
